# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# Project Specific - Large files/Outputs
models/*.zip
results/*.mp4
results/*.png
results/*.json

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db